body{
	margin: 0;
	background-color: rgb(15,15,15);
	font-family: Georgia, serif;
}

.container{
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.clearboth{
	clear: both;
}

.element-header{
	display: inline-block;
	color: grey;
	background-color: rgb(15,15,15);
	border: none;
	padding: 15px 30px;
	vertical-align: top;

	font-size: 1.1em;
}

header img{
	width: 20vw;
	margin-right: 50px;
}

header button, header > div{
	margin-top: 30px; 
}

header .authDiv{
	float: right;
	background-color: lightgray;
	border-left: 3px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

header > button[active], header > button:hover{
	background-color: rgb(35,35,35);
	cursor: pointer;
}

header > div:hover{
	background-color: rgb(35,35,35);
}

header > div:hover > button{
	cursor: pointer;
	color: gray;
}

.img-fond{
	width: 100%;
}

.hr-gray{
	height: 3vh;
	background-color: gray;
}

.main{
	vertical-align: top;
	display: inline-block;
	margin: 0;
}

.main-left{
	width: 30vw;
	background-color: gray;
	margin-left: 2vw;
}


.bar-search > div, .bar-search{
	text-align: center;
}

#searchbar{
	width: 70%;}

.main-right{
	width: 64vw;
}

/* Panel de connection */

#btn-panel-login{
	margin: 0;
	background-color: transparent;
	border: none;
	font-size: 1.1em;
}

.back-panel{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
}

.back-panel[display="none"]{
	display: none;
}

.div-auth {
	float: right;
}

.panel{
	z-index: 100;
	position: absolute;
	top: -100vh;
	right: -20vw;
	background-color: white;
	border-radius: 5px;
	width: 30vw;
	height: 55vh;
	margin: 0 auto;
	margin-top: 20vh;
	margin-right: 20vw;
	overflow-x: hidden;
	transition: 0.3s;
}

.panel[show]{
	transition: 0.5s;
	top: -8vh;
}

.container-formulaire{
	width: 200vw;
}


.formulaire{
	transition: 0.3s;
	display: inline-block;
	text-align: center;
	width: 30vw;
	position: absolute;
	top: 0;
	left: 0;
}

.div-auth .div-input{
	display: inline-block;
	position: relative;
	margin: 10px 0;
}

.div-input label{
	display: block;
}

.div-auth .btn-login{
	margin: 20px 0;
	padding: 10px; 
	width: 40%;
	background-color: #CCFF99;
	border: 1px solid #CCFF99;
}

.div-auth .error{
	padding: 3px;
	color: white;
	left: 0;
	border-radius: 5px;
	background-color: rgba(220,20,20,0.7);
}

/* Container Formulaire */

.offre-div{
	border: 1px solid black;
	margin: 10px 0;
}

.offre-date{
	float: right;
	margin-right: 5px;
}

.offre-link{
	float: right;
	margin-right: 5px;
}